*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
@font-face {
  font-family: "Astania Script", sans-serif, black;
  src: url("../fonts/Astania\ Script.otf") format("opentype"); }
/*GENERAL*/
body{
  background-image: url("../img/img-css/fondo-marmol2.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 70%;
  background-color: white; }
  body .primer-div .banner{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: url("../img/img-css/img-fondo-titulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px; }
  body .navbar .show{
    visibility: visible; }
  body main .texto-main .primer-h2{
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px; }
  body main .texto-main .espaciados {
    width: 50%;
    background-color: black;
    border: 0;
    height: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 22px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 22px; }
  .divisiones{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  /*NUESTRO MENU*/
  .main .primer-h2{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 50px;
    font-size: 30px;
  }
  /*SERVICIOS ESPECIALES */
  .servicios-especiales {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px; }
  .primer-h3-contactanos {
    font-size: 30px;}
  /*GALERIA*/
  .divisiones-galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto); }
  /*OPINIONES*/
  .barra{
    width: 500px;}
  /*CONTACTANOS*/
  .primer-h2{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 40px;
  }
  .mapa {
    margin-left: auto;
    margin-right: auto; 
    width: 600px;}
  .formulario {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
  .formulario-de-contacto {
    display: grid;
    grid-column: 2/3;
    grid-row: 1; }
@media screen and (min-width: 1401px) {
  body main .texto-main .primer-h2{
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 22px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 22px; }
  .main .primer-h2{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 50px;
    font-size: 30px;
  }
  .primer-h2{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 40px;
  }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
  body main .texto-main .primer-h2{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 18px; }
  .main .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 40px;
    font-size: 30px;
  }
  .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 30px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  body main .texto-main .primer-h2{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 18px; }
  .main .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 40px;
    font-size: 25px;
  }
  .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 30px;
  }
  /*GALERIA*/
  .divisiones-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto); }
  /*OPINIONES*/
  .barra{
    width: 400px;
  }
}
@media screen and (min-width:576px) and (max-width: 992px) {
  body main .texto-main .primer-h2{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 18px; }
  .main .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 40px;
    font-size: 20px;
  }
  .primer-h2{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 30px;
  }
  /*GALERIA*/
  .divisiones-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto); }
  /*SERVICIOS-ESPECIALES*/
  .servicios-especiales{
    width: 450px;
  }
  /*OPINIONES*/
  .barra{
    width: 200px;
  }
  /*REGISTRATE*/
  .icon-user{
    width: 120px;
  }
  /*CONTACTANOS*/
  .ubicacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  }
@media screen and (max-width: 575px) {
  body main .texto-main .primer-h2{
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 30px; }
  body main .texto-main .h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .parrafo {
    padding-top: 10px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 14px; }
  .ultimo-parrafo {
    padding-top: 10px;
    font-size: 14px; }
  .main .primer-h2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .main .titulo-h3-nuestro-menu{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main .titulo-h4 {
    margin-top: 30px;
    font-size: 15px;
  }
  .primer-h2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .primer-h3-contactanos{
    font-size: 20px;
  }
  /*GALERIA*/
  .divisiones-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, auto); }
  /*SERVICIOS-ESPECIALES*/
  .servicios-especiales{
    width: 200px;
  }
  /*OPINIONES*/
  .barra{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  /*REGISTRATE*/
  .icon-user{
    width: 75px;
  }
  /*CONTACTANOS*/
  .mapa{
    width: 200px;
  }
  .ubicacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*REVISAR ORTOGRAFIAS*/
